.post a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease;
  padding-top: 2rem;
}

.post a:hover,
.post a:active {
  transform: scale(1.1);
  /* background-color: #390281; */
  color: rgb(19, 230, 19);
  font-size: large;
}
.post {
  background-color: blueviolet!;
  color: pink;
}
